<mat-toolbar  color="primary">
  <span>Koho Assignment</span>
</mat-toolbar>


<ng-container *ngIf="validatedTransaction$  | async as validatedTransactionItem">
  <div>
    <button mat-raised-button (click)="downloadFile(validatedTransactionItem)">Download Data</button>
  </div>

  <table mat-table [dataSource]="validatedTransactionItem" class="mat-elevation-z8" matSort aria-describedby="Table with parsed data">
    <ng-container matColumnDef="customer_id">
      <th id="customer-id" mat-header-cell *matHeaderCellDef mat-sort-header> Customer ID </th>
      <td mat-cell *matCellDef="let element"> {{element.customer_id}} </td>
    </ng-container>

    <ng-container matColumnDef="accepted">
      <th id="accepted" mat-header-cell *matHeaderCellDef mat-sort-header> Accepted </th>
      <td class="accepted" [class.rejected]="!element.accepted" mat-cell *matCellDef="let element"> {{element.accepted}} </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th id="transaction-id" mat-header-cell *matHeaderCellDef mat-sort-header> Transaction ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="keys"></tr>
    <tr mat-row *matRowDef="let row; columns: keys;"></tr>
  </table>
</ng-container>



<router-outlet></router-outlet>
